.footer{
    background-color: $neutral-dark-violet;
    padding: 70px 10%;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    .logo{
        width: 25%;
    }

    .links{
        width: 40%;
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: column;
            h5{
                margin-top: 0;
                font-size: 18px;
            }
            a{
                margin-bottom: 10px;
                cursor: pointer;
            }
        }
    }
    .socials{
        display: flex;
        justify-content: space-between;
        width: 15%;
        img{
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
    }
    @media(max-width: 800px){
        flex-direction: column;
        padding: 70px 5%;
        .logo{
            margin-bottom: 10px;
        }
        .links{
            flex-direction: column;
            div{
                margin-bottom: 10px;
               width: 100%;
            }
            a{
                opacity: 0.6;
            }
        }
        .socials{
            margin-top: 20px;
            width: 50%;
        }
    }
}
