nav {
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(40px);
    padding: 0 10%;
    box-sizing: border-box;
    background-color: #ffffff93;
}

.links-holder {
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;

    .logo-text {
        color: $neutral-dark-violet;
        font-size: 50px;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        width: 50%;
        color: $neutral-gray-violet;
        font-size: 18px;

        a {
            cursor: pointer;
        }
    }
}

.login-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    color: $neutral-dark-violet;
    font-size: 18px;

    a {
        padding: 10px 20px;
        border-radius: 50px;
        cursor: pointer;
        width: 100px;
        text-align: center;


    }

    .signup {
        color: #fff;
        background-color: $primary-cyan;
        height: 50px;
        width: fit-content;
    }
}

.off-canvas {
    display: none;
}

.burger-menu {
    display: none;
}

@media(max-width: 800px) {
    nav {
        padding: 0 5%;
        height: 80px;
    }

    .burger-menu {
        display: flex;
        align-items: center;

        button {
            height: fit-content;
            font-size: 35px;
            background: none;
            // background-color: #fff;
            border: none;
            color: $neutral-dark-violet;
            transform: translateY(-5px);
            &:focus{
                outline: none;
            }
        }
    }

    .links-holder {
        .nav-links {
            display: none;
        }
    }

    .login-links {
        display: none;
    }

    .off-canvas {
        padding: 0 5%;
        padding-top: 50px;
        display: block;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: #fff;
        transform: translateX(100vw);
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

        .close {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 35px;
            cursor: pointer;
        }

        .nav-links {
            display: flex;
            flex-direction: column;
            font-size: 35px;
        }

        .login-links {
            display: flex;
            flex-direction: column;
            width: 50%;
            font-size: 25px;
            margin-top: 50px;

            a {
                width: 100%;
                text-align: left;
            }
        }
    }
}